/*// @theme-lightest : #a7ffeb;
// @theme-lighter :  #64ffda;
// @theme-main : #1de9b6;
// @theme-darker : #00bfa5;
// @grey-light : #616161;
// @grey-dark : #424242;
// @black : #212121;*/
@font-face {
  font-family: "Rajdhani";
  src: local(Rajdhani);
  src: url("/fonts/Rajdhani/Rajdhani-400.ttf") format("truetype");
}
/*@font-face {
  font-family: "Biryani";
  src: local(Biryani), url("/fonts/Biryani/Biryani-Regular.eot");
  src: url("/fonts/Biryani/Biryani-Regular.eot?") format("embedded-opentype"),
  url("/fonts/Biryani/Biryani-Regular.woff2") format("woff2"), 
  url("/fonts/Biryani/Biryani-Regular.woff") format("woff"), 
  url("/fonts/Biryani/Biryani-Regular.ttf") format("truetype");
  font-weight: 400;
  }*/
  body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #616161;
    font-family: 'Rajdhani', sans-serif;
  }
  input, textarea, keygen, select, button{
    font-family: 'Rajdhani', sans-serif;
  }
  *:focus {
    outline: none;
  }
  .App {
    text-align: center;
  }
  .container {
    text-align: center;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #1de9b6;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #1de9b6;
   opacity:  1;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #1de9b6;
   opacity:  1;
 }
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #1de9b6;
 }
 /* Login Form */
 .logo-login{
  margin-bottom: 0;
  font-size: 5em;
  color: #00bfa5;
}
#login-form {
  margin: 6em auto;
  height: 50%;
  width: 95%;
  text-align: center;
  form p {
    font-size: 1em;
    width: 80%;
    margin: 5% 10%;
  }
  form input {
    text-align: center;
  }
}
#register-form {
  margin: 6em auto;
  height: 50%;
  width: 96%;
  text-align: center;
  form p {
    font-size: 1em;
    width: 80%;
    margin: 5% 10%;
  }
  form input {
    text-align: center;
  }
}
.login-header{
  font-size: 1em;
  margin: 1em auto;
}
.form-input{
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #424242;
  font-size: 1em;
  line-height: 1em;
  padding: 0.25em;
  height: 1em;
  width: 70%;
  margin-bottom: 1.5em;
}
/* Dashboard */
#topnav{
  height: 4em;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 3em;
  background-color: #212121 !important;
  z-index: 3;
}
#new-message-button{
 color: #1de9b6;
 float: right;
 margin: 0 0.7em;
 line-height: 2em;
 font-size: 2em;
}
#settings-button{
  color: #1de9b6;
  float: left;
  margin: 0 0.7em;
  line-height: 2em;
  font-size: 2em;

}
#dashboard-main {
  margin-top: 3em;
}
#no-conversations-dialog{
  margin-top: 6em;
  padding: 2em;
  font-size: 1.2em;
}
#no-conversations-dialog .mdi-human-greeting:before{
  font-size: 4em;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
#messageInput{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: solid 1px #424242;
  height: 2em;
  line-height: 1.5em;
  font-size: 18px;
  resize: none;
  background: #212121;
  color: white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 0.2em 1em;
}
#messagesList {
  padding-top: 0.5em;
}
#conversation-username {
  position: fixed;
  width: 60%;
  top: 0;
  margin: 0.5em 20%;
  text-align: center;
  font-size: 1.5em;
}
#no-conversations-dialog p {
  margin-top: 0;
}

/* messagesList */
.conversation-item {
  height: 5em;
  line-height: 1.5em;
  text-align: left;
  padding-left: 1.5em;
  border-bottom: 1px solid #424242;
  margin-top: 1.3em;
}
.conversation-item-username{
  font-size: 1.3em;
  color: white;
  margin-bottom: 0.2em;
}
.conversation-item-last-message{
  margin-top: 0.3em;
width: 10em;
 height: 1.2em;
 overflow: hidden; 
 text-overflow: ellipsis; 
white-space: nowrap;
}
.conversation-item-time {
}
.new-msg{
  color: #1de9b6;
}
/*  Conversation */
#messageList {
  margin-top: 4em;
  margin-bottom: 4em;
}
.message {
  min-width: 20px;
  max-width: 65%;
  color: white;
  padding: .5em;
  font-weight: 300;
  margin-bottom: 5px;
  border: 1px solid #616161;
  margin: 0 0.8em;
  word-wrap: break-word;
  text-align: left;
}
.message-block{
  width: 100%;
  display: inline-block;
}
.user-message{
  color: #1de9b6;
  float: right;
  border: 1px solid #1de9b6;
}
.other-message{
  color: #fff;
  float: left;
  border: 1px solid #fff;
}
.btn {
  border: 1px solid #1de9b6;
  height: 2em;
  width: 6rem;
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 1em;
  background: #212121;
  color: #1de9b6;
  .error {
    border: 1px solid #f44336;
    background: #212121;
    color: #f44336;
  }
}
.btn:hover {
  border: 1px solid #1de9b6;
  background: #1de9b6;
  color: #212121;
}
.error:hover {
  border: 1px solid #f44336;
  background: #f44336;
  color: #212121;
}
.add-glow {
  box-shadow: 0 0 0.5em rgb(29,233,182);
}
